.CustomButton {
    margin: 4px;
    color : gray;
    cursor:not-allowed;
    &.false {
        background   : #03A9F4;
        border-style : none;
        box-shadow   : 1px 4px 6px grey;
        color        : white;
        border-radius: 2.8px;
        height       : 27px;
        margin-top   : -1px;
        cursor: pointer;
    }
}